/api-adusers/appsettings.json
/.vs/api-adusers/v16/Server/sqlite3/db.lock
/.vs/api-adusers/v16/Server/sqlite3/storage.ide
/.vs/api-adusers/v16/Server/sqlite3/storage.ide-shm
/.vs/api-adusers/v16/Server/sqlite3/storage.ide-wal
/obj/Docker
/api-adusers/bin
/obj
/api-adusers/obj/Container/AdditionalProbingPaths.cache
/api-adusers/obj/Container/ContainerDevelopmentMode.cache
/api-adusers/obj/Container/ContainerId.cache
/api-adusers/obj/Container/ContainerOperatingSystemFlavor.cache
/api-adusers/obj/Container/ContainerRunContext.cache
/api-adusers/obj/Container/DebuggeeArguments.cache
/api-adusers/obj/Container/DebuggeeKillProcessCommand.cache
/api-adusers/obj/Container/DebuggeeProgram.cache
/api-adusers/obj/Container/DebuggeeWorkingDirectory.cache
/api-adusers/obj/Container/FastModeProjectMountDirectory.cache
/api-adusers/obj/Container/ImageBuildContext.cache
/api-adusers/obj/Container/ImageId.cache
/api-adusers/obj/Container/OperatingSystemName.cache
/api-adusers/obj/Container/RelativeOutputAssemblyPath.cache
/api-adusers/obj/Container/TargetFramework.cache
/api-adusers/obj/Container/VsDbgScript.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.AssemblyInfo.cs
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.AssemblyInfoInputs.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.MvcApplicationPartsAssemblyInfo.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.RazorTargetAssemblyInfo.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.assets.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.csproj.CopyComplete
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.csproj.FileListAbsolute.txt
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.csprojAssemblyReference.cache
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.dll
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.exe
/api-adusers/obj/Debug/netcoreapp3.1/api-adusers.pdb
/api-adusers/obj/Debug/netcoreapp3.1/staticwebassets/api-adusers.StaticWebAssets.Manifest.cache
/api-adusers/obj/Debug/netcoreapp3.1/staticwebassets/api-adusers.StaticWebAssets.xml
/api-adusers/obj/api-adusers.csproj.nuget.cache
/api-adusers/obj/api-adusers.csproj.nuget.dgspec.json
/api-adusers/obj/api-adusers.csproj.nuget.g.props
/api-adusers/obj/api-adusers.csproj.nuget.g.targets
/api-adusers/obj/project.assets.json
/api-adusers/appsettings.Development.json
